<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Suite" parallel="tests" thread-count="7">
<groups>
    <run>
        <exclude name="Traning"/>
    </run>
</groups>
    <!--<test name="Sub Calc Test">-->
        <!--<classes>-->
            <!--<class name="com.epam.cdp.SubTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Sum Calc Test">-->
        <!--<classes>-->
            <!--<class name="com.epam.cdp.SumTest"/>-->
        <!--</classes>-->
    <!--</test>-->
    <test name="FullRun">
    <packages>
        <package name="com.epam.cdp"/>
    </packages>
    </test>
</suite>
